html {
    font-family: 'Nunito';
}

body {
    overflow-x: hidden;
}


.Cabecalho {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    top: 0px;

    background: rgba(114, 126, 237, 0.95);
}

.titulo {
    position: absolute;
    width: 100%;
    left: 174px;
    top: 17px;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 42px;
    color: #F1F1F1;
}


article {
    position: absolute;
    width: 100%;
    height: 698px;
    left: 0px;
    top: 70px;
}

.Trilha {
    position: absolute;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.Trilha h3{
    position: absolute;
    width: max-content;
    top: 31%;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

.TextoTrilha {
    position: absolute;
    width: 45%;
    top: 44%;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    color: #615C5C;
}


.BotaoTrilha {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 62%;
    border-radius: 50px;
    background: rgba(114, 126, 237, 0.97);
}

.BotaoTrilha:hover{
    cursor: pointer;
    
}

.BotaoSimulador {
    position: absolute;
    width: 270px;
    height: 67px;
    top: 62%;
    border-radius: 3px;
    background: rgba(114, 126, 237, 0.97);
}


.BotaoTrilha h4 {
    position: absolute;
    width: max-content;
    left: 73px;
    top: -12px;
    bottom: 25.37%;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
    /* identical to box height */
    color: #000000;
}

.Simulador {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    
}

.Simulador h3 {
    position: absolute;
    width: max-content;
    top: 31%;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

.TextoSimulador {
    position: absolute;
    width: 45%;
    top: 44%;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 25px;
    text-align: center;
    color: #615C5C;
}

.BotaoSimulador h4 {
    position: absolute;
    width: max-content;
    left: 73px;
    top: -12px;
    bottom: 25.37%;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 33px;
    /* identical to box height */
    color: #000000;
}

.Sobre {
    position: absolute;
    width: 100%;
    height: 718px;
    left: 0px;
    top: 771px;
    bottom: 0%;

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), rgba(114, 126, 237, 0.97);
}

.linha {
    position: absolute;
    width: 5%;
    height: 1%;
    left: 227px;
    
    background: black;

    border: 3px solid #000000;
    border-radius: 3px;
}

.Sobre h4 {
    position: absolute;
    width: max-content;
    left: 150px;
    top: 34%;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.Sobre h3 {
    position: absolute;
    width: max-content;
    left: 150px;
    top: 38%;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    color: #000000;
}

.Sobre p {
    position: absolute;
    width: 530px;
    left: 150px;
    top: 48%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
    color: #615C5C;
}

.logoUfam {
    position: absolute;
    left: 150px;
    width: 109px;
    height: 148px;
    top: 70%;
}

.logoSuper {
    position: absolute;
    left: 278px;
    width: 154px;
    height: 160px;
    top: 70%;
}
